* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  max-width: 1200px;
  margin: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

span {
  color: blueviolet;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
}

hr {
  margin-bottom: 20px;
}

label {
  font-size: 20px;
}

textarea {
  width: 75%;
  border-radius: 10px;
  background-color: white;
  border: 2px solid white;
  font-size: 16px;
  padding: 5px;
  outline: none;
}

button {
  margin-left: 20px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  border-radius: 50px;
  outline: none;
  color: black;
  background-color: blueviolet;
  border: 2px solid black;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 82, 82);
  font-size: smaller;
  padding: 40px;
}

/* id */

#top-container {
  height: 100vh;
  background-image: url("images/background.jpg");
  background-size: cover; /* Ensures the image covers the entire area */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
}

#recipe-section {
  padding: 20px 20px 50px 20px;
  background-color: #f9f9f9;
}

#about-section {
  max-width: 1400px;
  margin: auto;
  padding: 20px;
}

#contact-container {
  background-image: url("images/background-contact.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  padding: 20px 0;
}

#video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#video-section h3 {
  margin-top: 20px;
  font-size: 24px;
}

#video-section video {
  max-width: 100%;
  margin: 20px 0;
  border: 2px solid #ccc;
  border-radius: 8px;
}

/* classes */

.logo {
  flex: 1;
}

.hero {
  max-width: 70%;
  padding: 20px;
  position: relative;
  bottom: 80px;
}

.food {
  padding: 15px 20px;
  border-radius: 50px;
  outline: none;
  width: 70%;
  background-color: rgba(255, 255, 255, 1);
  border: 2px solid white;
  font-size: 16px;
  transition: all 0.3s ease;
}

.recipe-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.recipe-heading {
  margin: 20px 0;
  text-align: center;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 20px 0;
}

.recipe-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.recipe-para {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 10px;
}

.recipe-pic {
  width: 100%;
  height: 40vh;
  border-radius: 4px;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info {
  position: relative;
  top: -20px;
}

.links {
  display: flex;
  margin-top: 30px;
  align-items: center;
}

.contact-form {
  width: 50%;
  margin: 0 auto;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.footer-links {
  display: flex;
}

/* selectors */
ul.navbar {
  display: flex;
  justify-content: space-between;
}

nav h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  font-size: 40px;
}

ul li {
  margin: 10px;
  padding: 10px;
}

ul a {
  color: whitesmoke;
  font-size: large;
  font-weight: 600;
  transition: color 0.3s ease, text-underline-offset 0.3s ease;
}

.hero h2 {
  font-size: 60px;
  margin-bottom: 20px;
  color: blueviolet;
  font-weight: 900;
}

a:hover {
  color: black;
  text-decoration: underline black;
  text-underline-offset: 5px;
}

.food:hover {
  padding: 15px 30px;
  box-shadow: 0 0 8px black;
}

.about img {
  width: 90%;
  height: 90%;
}

.about-info h2 {
  text-transform: uppercase;
  font-size: 40px;
  color: darkslategray;
}

.about-info p {
  letter-spacing: 1.5;
  line-height: 1.5;
  font-size: larger;
}

.links a {
  margin-right: 30px;
  color: coral;
  font-weight: 600;
}

.links img {
  width: 16px;
  height: 16px;
  padding-top: 2px;
}

.contact-details label {
  color: black;
  font-weight: 700;
  margin-bottom: 5px;
}

.contact-details input {
  width: 75%;
  padding: 10px 15px;
  border-radius: 10px;
  outline: none;
  background-color: white;
  border: 2px solid white;
  font-size: 16px;
}

.contact-details input:focus {
  color: black;
  box-shadow: 0 0 8px black;
}

textarea:focus {
  color: black;
  box-shadow: 0 0 8px black;
}

button:hover {
  background-color: #3aec09;
  transform: scale(1.02);
}

footer p {
  line-height: 2;
  color: beige;
}

footer li {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  font-weight: 100;
  color: black;
  font-size: medium;
}

footer img {
  margin-right: 5px;
}

.recipe-item h3 {
  margin-bottom: 20px;
  font-size: 24px;
}

/* Responsive styles */

@media (min-width: 959px) and (max-width: 1100px) {
  nav {
    max-width: 900px;
  }
  .hero h2 {
    font-size: 40px;
  }
  #about-section {
    max-width: 850px;
  }
  .about-info h2 {
    font-size: 30px;
  }
  .about-info p {
    font-size: medium;
  }
  .contact-details input {
    padding: 8px;
  }
  footer {
    padding: 10px;
  }
}

@media (min-width: 769px) and (max-width: 959px) {
  nav {
    max-width: 650px;
    padding: 20px 0;
  }
  nav h1 {
    font-size: 30px;
  }
  ul li {
    padding: 0;
  }
  .hero h2 {
    font-size: 40px;
  }
  .food {
    width: 100%;
  }
  #about-section {
    max-width: 700px;
  }
  .about-info h2 {
    font-size: 25px;
  }
  .about-info p {
    font-size: 14.5px;
  }
  .links a {
    font-weight: 400;
  }
  textarea,
  .contact-details input {
    padding: 8px;
    width: 100%;
  }
  footer {
    padding: 15px 10px;
  }
}

/* For tablets and smaller devices (max-width: 768px) */

@media (max-width: 768px) {
  #top-container {
    height: 100vh;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  nav {
    flex-direction: column;
    padding: 10px 0;
  }
  .food {
    width: 100%;
  }
  .recipe-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  .hero h2 {
    font-size: 40px;
  }

  #about-section {
    max-width: 700px;
  }
  .about-info h2 {
    font-size: 20px;
  }
  .about-info p {
    font-size: 14px;
  }
  .links a {
    font-weight: 400;
  }

  textarea,
  .contact-details input {
    width: 100%;
  }

  button {
    font-size: 14px;
    padding: 8px 16px;
  }

  footer {
    padding: 20px;
  }

  .recipe-item h3 {
    font-size: 20px;
  }
}

/* For mobile devices (max-width: 480px) */
@media (max-width: 480px) {
  nav h1 {
    font-size: 30px;
  }

  ul.navbar {
    flex-direction: column;
    align-items: center;
  }

  ul li {
    margin: 5px 0;
  }

  .hero h2 {
    font-size: 30px;
  }

  .recipe-container {
    grid-template-columns: 1fr;
  }

  .contact-form {
    width: 90%;
  }

  textarea,
  .contact-details input {
    width: 100%;
  }

  button {
    font-size: 12px;
    padding: 6px 12px;
  }

  .recipe-item h3 {
    font-size: 18px;
  }

  .about-info h2 {
    font-size: 30px;
  }

  .about-info p {
    font-size: medium;
  }
}
